<% if current_user?(@user) %>
<h1>Welcome to your page, <%= @user.name %></h1>

<div class="new-character-button">
  <%= erb :'characters/_new_character_button' %>
</div>
<div class="character-form">

</div>


<h2>Your characters:</h2>
<% else %>

<h1>Welcome to <%= @user.name %>'s page!</h1>

<h2><%= @user.name %>'s Characters:</h2>
<% end %>

<div id="all-character-cards">
  <%= erb :'characters/_characters_shower' %>
</div>
