<div class="weapon-card">
  <p>
    <span><%= weapon.name %></span>  <br>
    <label>Offense Bonus:</label> <%= weapon.offense_bonus %>
    <br>
    <label>Damage Bonus:</label> <%= weapon.damage_bonus %>
    <br>
    <label>Defense Bonus:</label> <%= weapon.defense_bonus %>
    <br>
    <label>Weapon Type:</label> <%= weapon.weapon_type.name %>
    <br>
    <label>Range:</label> <%= weapon.weapon_type.range %>
    <br>
    <label>Hands required to wield:</label> <%= weapon.weapon_type.hands_required %>
  </p>
</div>
